.vertical-item-selector {

  
    .selected-arrow-left {
      width: 0; 
      height: 0; 
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent; 
      
    }
  
    border-right: white solid 1px;

    li.item {
        border: solid 1px;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .item-subheading {
        padding: 32px;
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 150px;
        justify-content: space-evenly;
        p {
            margin-block-start: 0;
        }
        span {
            font-size: 50%;
        }
  
        img {
            width: 200px;
        }
    }
  }