@import "../../shared";

.App-Home{
  color: aliceblue;
  width: 100%;

  ul {
    list-style: none;
    a {
      margin: 0;
      color: aliceblue;
      text-decoration: none;
    }
  }
  .app-hero-image{
    display: block;
    background-image: url("../../../assets/HeroImageDark3.png");
    width: 100vw;
    height: 100vh;
  }

  .ReactStickyHeader_root{
    .ReactStickyHeader_midground{
      height: 0px !important;
    }
    .ReactStickyHeader_fixed{
      //-webkit-transition: background-color.5s;
      //-moz-transition: background-color .5s;
      //-o-transition: background-color .5s;
      //transition:background-color .5s;
      h1 {
        -webkit-transition: font-size .25s;
        -moz-transition:  font-size .25s;
        -o-transition: font-size .25s;
        transition: margin-top .25s, font-size .25s;
        font-family: $font-header;
        margin-top: 5em;
        //display: none;
      }

      ul{
        -webkit-transition: display .5s;
        -moz-transition: display .5s;
        -o-transition: display .5s;
        transition: display .5s;

        display: none;
      }
    }

  }
  .ReactStickyHeader_root.is-sticky{

    .ReactStickyHeader_fixed{
          .call-to-action{
            display: none;
          }
          background-color: $primary-1;
          h1 {
            font-size: 120%;
            display: inline;
            margin-top: 0;

          }
          p, button {
            display: none;
          }
          ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            a {
              font-size: 75%;
              margin: 0 1em;
              -webkit-transition: color .5s, font-size .5s;
              -moz-transition: color .5s, font-size .5s;
              -o-transition: color .5s, font-size .5s;
              transition: color .5s, font-size .5s;
            }
            a.active {
              border-bottom: 3px solid navajowhite;
              color: navajowhite;
            }
            a:hover{
              font-size: 125%;
              color: $tertiary-2-2;
            }
          }
      }
    }


}

