@import '../../shared';


#Projects-Section {
  a {
    text-decoration: none;
    font-style: italic;
    color: #61dafb;
  }
  .tech-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    img {
      height: 3em;
    }
  }
  .single-project-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    aside {
      width: 60%;

    }
    article {
      display: flex;
      flex-direction: column;
      max-width: 30%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      img {
        border: $primary-2 solid 2px;
        width: 30%;
        min-width: 150px;
        margin: .5em;
        -webkit-animation-name: image-shrink;
        -webkit-animation-duration: 1s;
        animation-name: image-shrink;
        animation-duration: 1s;
      }
      img:hover{
        border: #1167DA solid 2px;

        width:100%;
        -webkit-animation-name: image-grow;
        -webkit-animation-duration: 1s;
        animation-name: image-grow;
        animation-duration: 1s;
      }

      @keyframes image-grow {
        from {
          width: 30%;
        }
        to {
          width: 100%;
        }
      }
      @keyframes image-shrink {
        from {
          width: 100%;
        }
        to {
          width: 30%;
        }
      }
    }
  }

}