#Education-Section {
  img.logo{
    height: 3.5em;
  }
  .education-item {
    h6{
      margin-top: 0;
    }
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .education-description {
      margin-left: 4em;
      width: 50vw;
    }
  }
}