@import '../../shared';


section {
  .v-separator {
    height: 60vh;
    width: 1vw;
    background-color: $primary-2;
  }
  h3{
    color: $primary-2;
  }

  .skill-columns{
    display: flex;
    flex-direction: row;

    .skill-bars {
      .react-sweet-progress {
        width: 25vw;
        margin: 0 .7em;
      }
      ul {
        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style: none;
          span {
            width: 25%;
            margin: .5em 2em;
          }
        }
      }
    }

  }

}
