@import '../../shared';

#Experience {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-job-selector {
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid white; 
  }

  .selected-arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid #3399BF; 
  }

  border-right: white solid 1px;

  li.job {
    border: solid 1px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  li.selected-job {
    background-color: rgba(255,255,255,.5);
  }

  .experience-subheading {
    display: flex;
    flex-direction: column;

    margin: 2em;
    span {
      margin-top: 2em;
      font-size: 50%;
    }

    img {
      width: 200px;
    }
  }
}

#Experience-Section {
  hr {
    margin: 20px 0;

  }
  .experience-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start ;
    .experience-subheading {
      display: flex;
      flex-direction: column;

      margin: 2em;
      span {
        margin-top: 2em;
        font-size: 50%;
      }

      img {
        width: 200px;
      }
    }
    .experience-description{
      padding: 0 3em;
      img {
        height: 50px;
      }
      p {
        margin-bottom: 2em;
      }
      .techstack{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        img {
          min-height: 100px;
          max-height: 100px;
        }
      }
    }

  }
}