@import '../../shared';

#Experience-Section {
  .experience-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .experience-subheading {
      display: flex;
      flex-direction: column;

      margin: 2em;
      span {
        margin-top: 2em;
        font-size: 50%;
      }

      img {
        width: 200px;
      }
    }
    .experience-description{
      p {
        margin-bottom: 2em;
      }
      .techstack{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
          margin: 0 1em;
          height: 75px;
        }
      }
    }

  }
}